---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

$base-font-family: "Cabin", sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 200 !default;
$small-font-size:  $base-font-size * 0.8 !default;
$base-line-height: 1.5 !default;

$text-color:       #3c484e !default;
$background-color: #fdfdfd !default;

$grey-color:       #828282 !default;
