// Placeholder to allow overriding predefined variables smoothly.
hr {
  border-top: 0.4em solid #003172;
}

h1 {
  font-weight: 700;
  font-size: 2.5em;
  color: #000000;
}

.site-footer {
  background-color: #4F565C;
}