// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
h1 {
  font-weight: 700;
  font-size: 3.5em;
  color: #000000;
}

h2 {
  font-size: 2em;
  color: #004293;
}

h3 {
  font-size: 1.5em;
  color: #004293;
}

.site-footer {
  background-color: #4F565C;
}