// Placeholder to allow overriding predefined variables smoothly.
hr {
  border-top: 0.4em solid #004293;
}

h1 {
  font-weight: 700;
  font-size: 3.5em;
  color: #000000;
}

h2 {
  font-size: 2em;
  color: #004293;
}

h3 {
  font-size: 1.5em;
  color: #004293;
}

.site-footer {
  background-color: #4F565C;
}